<ion-header>
  <ion-toolbar color="dark">
    <ion-title>autores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let autor of autores">
      <ion-label>{{autor.nome}}</ion-label>
      <ion-buttons>

        <ion-button color="warning"  [routerLink]="['edicao',autor.id]">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button color="danger" (click)="confirmDelete(autor)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="dark" [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>  
    </ion-fab-button>
  </ion-fab>

</ion-content>
