<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de autores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input formControlName="nome"type="text"></ion-input>

      <ion-text color="danger" *ngIf="nome.errors">
        <small *ngIf="nome.errors.required && (nome.errors.touched || nome.errors.dirty)">O campo <b>nome</b> é obrigatório</small>
        <small *ngIf="nome.errors.minlength && (nome.errors.touched || nome.errors.dirty)">O número mínimo de caracteres é <b>3</b></small>
      </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Data de nascimento: </ion-label>
      <ion-datetime formControlName="dataNascimento"></ion-datetime>
    </ion-item>
  
      <ion-item>
        <ion-list>
          <ion-radio-group name="genero" value="F" formControlName="genero">
              <ion-list-header>
                  <ion-label>Gênero</ion-label>
              </ion-list-header>
              <ion-item>
                  <ion-label>Feminino</ion-label>
                  <ion-radio slot="start"
                              value="F"></ion-radio>
              </ion-item>
              <ion-item>
                  <ion-label>Masculino</ion-label>
                  <ion-radio slot="start"value="M"></ion-radio>
              </ion-item>
          </ion-radio-group>
      </ion-list>
      </ion-item>
  
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="store()" [disabled]="!form.valid">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  </form>
  
</ion-content>
