<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let livro of livros" #slidingItem>
      <ion-item-options side="start" color="warning">
        <ion-item-option [routerLink]="['edicao',livro.id]">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="livro.capa" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{livro.titulo}}</h2>
          <h3>Autor:</h3>
          <p *ngFor="let autor of livro.autores"> {{autor.nome}}</p>
          <h3>ISBN: <ion-text color="medium">{{livro.isbn}}</ion-text>
          </h3>
          <h4>Páginas: <ion-text color="medium">{{livro.paginas}}</ion-text>
          </h4>
        </ion-label>
        <ion-note slot="end"color="danger"> <h4>{{livro.preco | currency:'BRL'}}</h4> </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmDelete(livro)">
          <ion-icon slot="icon-only"name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom"horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>